@font-face {
    font-family: 'Klavika';
    src: url('../resources/klavika-regular-webfont.eot');
    src: url('../resources/klavika-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../resources/klavika-regular-webfont.woff') format('woff'),
         url('../resources/klavika-regular-webfont.ttf') format('truetype'),
         url('../resources/klavika-regular-webfont.svg#Klavika') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KlavikaLight';
    src: url('../resources/klavika-light-webfont.eot');
    src: url('../resources/klavika-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../resources/klavika-light-webfont.woff') format('woff'),
         url('../resources/klavika-light-webfont.ttf') format('truetype'),
         url('../resources/klavika-light-webfont.svg#KlavikaLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'senchacon';
	src:url('../resources/senchacon/senchacon.eot?-4ztj2j');
	src:url('../resources/senchacon/senchacon.eot?#iefix-4ztj2j') format('embedded-opentype'),
		url('../resources/senchacon/senchacon.woff?-4ztj2j') format('woff'),
		url('../resources/senchacon/senchacon.ttf?-4ztj2j') format('truetype'),
		url('../resources/senchacon/senchacon.svg?-4ztj2j#senchacon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* define own mixins */
@import "compass/css3";

@mixin blocks($bg) {
  background: $bg;
  border: 1px solid $lightblue;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3); 
  display: block;
  height: 34px;
  padding: 4px;
}

@include extjs-toolbar-ui(
  'dark',
  $background-color:  $base-color,
  $border-color: $green
);

@include extjs-button-small-ui(
  'dark',
  $background-color : $base-color,
  $color: #fff
);

/* Global CSS */

.x-tab-default-bottom.x-tab-active.x-tab-focus {
  box-shadow: none;
}

.x-toolbar-dark{
  .tbtitle {
    color: #fff;
    font-family: 'Klavika';
    text-align: center;

    #desktop & {
      font-size: 20px;
    }
  }

  .x-btn-focus.x-btn-dark-small {
    box-shadow: none !important;
    -webkit-shadow: none !important;
  }

  background-image: url(../resources/future-hero.png);
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  #tablet &, #phone & {
    background-image: none;
    border-bottom-width: 3px !important;
  }
}

h1 {
  font-size: $font-size + ($font-size/2);
  line-height: ($font-size + ($font-size/2)) * 1.5;
}
h2 {
  font-size: $font-size + ($font-size/3);
  line-height: ($font-size + ($font-size/3)) * 1.5;
}
h3 {
  font-size: $font-size + ($font-size/4);
  line-height: ($font-size + ($font-size/4)) * 1.5;
}

figure {
  display: block;
  padding: 4px;
  line-height: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);

  margin: 10px 20px 0 -4px;

  > img {
    max-width: 100%;
    display: block;
  }

  figcaption {
    font-size: 80%;
    text-align: center;
  }
}

*:focus,
.x-view-item-focused {
  outline: none !important;
}


//* Lee's Demo */

.phonelist {

  .x-grid-body {
    background: darken($base-color, 10%);
  }

  .x-column-header {
    background: darken($base-color, 10%);
    border-color: darken($base-color, 20%);
    color: #fff;
    font-size: 12px;
    padding: 8px 0;
  }
  .x-column-header-trigger,
  .x-column-header-over {
    background: darken($base-color, 5%);
  }

  .x-column-header,
  .x-grid-header-ct { border: none !important; }

  .x-grid-body {
    border: none;
  }

  .x-grid-item {
    background-color: $base-color;
    border-color: darken($base-color, 20%);
    border-style: 'solid';
    border-bottom-width: 1px;
    border-top-width: 0;

    color: #fff;
    padding: 10px 10px;

    &.x-grid-item-selected,
    &.x-grid-item-over {
      background-color: darken($base-color, 8%);
      border-color: lighten($base-color, 5%) !important;
      color: #fff !important;
      border-bottom-width: 1px;
      border-top-width: 0;
    }

    &.x-grid-item-focused .x-grid-cell-inner:before {
      border: none !important;
    }
  }
  .x-grid-item-selected {
    .x-grid-cell-inner {
      color: #fff;
    }
  }
  
}