$base-color: #00526C;
$grey : #f8f8f8;
$green: #8ac440;
$lightblue: #56b1cd;
$font-size: 14px;

$grid-row-cell-border-width: 0;
$grid-row-cell-selected-border-width: 0;
$grid-row-cell-focus-border-width: 0;
$grid-row-cell-focus-color : #fff;

$tab-base-color: $base-color;
$tab-base-color-over: $base-color;
$tab-base-color-active : $base-color;
$tab-color: lighten($base-color, 40%);
$tab-color-over: #fff;
$tab-color-active: #fff;
$tab-color-focus: $base-color;
$tab-color-focus-over: $base-color;
$tab-color-focus-active: #fff;  
$tabbar-border-color: $green;
