$base-color: #00526C;
$grey : #f8f8f8;
$green: #8ac440;
$lightblue: #56b1cd;
$font-size: 14px;

$grid-row-cell-border-width: 0;
$grid-row-cell-selected-border-width: 0;
$grid-row-cell-focus-border-width: 0;
$grid-row-cell-focus-color : #fff;